### BD: Customer

In [216]:
import pandas as pd

df_customer = pd.read_csv('./archive/customers.csv', engine='pyarrow')

In [217]:
"""
customer	ID	Identificador único
customer	Age	Edad
            Float, 2% tiene edad 5
customer	Income	Ingreso mensual estimado
            Float, 2% tiene ingresos 5, 0.7% tiene ingresos 0
customer	time_from_specialized	Antigüedad profesional
            67% categoria 0, 2% categoria 5 los demás tienen menos 0.01%
customer	Type_job	Tipo de empleo: dependiente, independiente, informal, etc.
            52% tipo 2, 30% tipo 7, los demás > 6%
customer	bureau_risk	Buró de crédito, indica el score según el comportamiento de pago de las deudas
            Balanceado, 22% categoria 9, 14% categoria [2,3,4], 9 categoria 6...
customer	payroll	Monto de pago recibido por nómina
            33% contiene datos, el otro 66% tiene 0 como payroll
customer	Product_1	Posee tarjeta de crédito
            Boolean, Yes/No (32/68%)
customer	Product_2	Posee préstamo personal
            Boolean, Yes/No (8/92%)
customer	Product_3	Posee préstamo vehicular o préstamos hipotecario
            Boolean, Yes/No (3/97%)
customer	Product_4	Posee cuenta(s) de ahorro
            Boolean, Yes/No (98/2%)
customer	Ofert_1	Tiene oferta de préstamo personal
            Boolean, Yes/No (15/85%)
customer	Ofert_2	Tiene oferta de tarjeta de crédito
            Boolean, Yes/No (17/83%)
customer	Ofert_3	Tiene oferta de compra de deuda
            Boolean, Yes/No (5/95%)
"""
check_column = 'income'
df_customer[check_column].value_counts(dropna=False).reset_index().\
    merge(df_customer[check_column].value_counts(dropna=False, normalize=True)*100, on=check_column, how='left')

       income  count  proportion
0      5.0000  16211    2.002399
1      0.0000   6059    0.748414
2      3.8944    396    0.048914
3      4.1900    370    0.045703
4      4.1613    366    0.045209
...       ...    ...         ...
14067  3.5276      1    0.000124
14068  3.6361      1    0.000124
14069  3.7554      1    0.000124
14070  3.4213      1    0.000124
14071  3.7246      1    0.000124

[14072 rows x 3 columns]

In [219]:
# Definimos las variables a reemplazar
reemplazo = {'No': 0, 'Yes': 1}

# Seleccionamos las columnas que tendrán el reemplazo (boolean)
columnas_reemplazadas = ['product_1', 'product_2', 'product_3', 'product_4', 'ofert_1', 'ofert_2', 'ofert_3']

df_customer_preprocessed[columnas_reemplazadas] = df_customer_preprocessed[columnas_reemplazadas].replace(reemplazo)

In [220]:
# Quizá dividir en categorias (age y income entre 0 y 1, entre 1 y 2, etc)
df_customer_preprocessed = pd.get_dummies(df_customer_preprocessed, columns = ['type_job', 'bureau_risk'], dtype=int)

In [221]:
df_customer_preprocessed

,ID,age,income,time_from_specialized,payroll,product_1,product_2,product_3,product_4,ofert_1,ofert_2,ofert_3,type_job_type_1,type_job_type_2,type_job_type_3,type_job_type_4,type_job_type_5,type_job_type_6,type_job_type_7,bureau_risk_category_1,bureau_risk_category_2,bureau_risk_category_3,bureau_risk_category_4,bureau_risk_category_5,bureau_risk_category_6,bureau_risk_category_7,bureau_risk_category_8,bureau_risk_category_9
0,42af3bf64c2c14307361e970e76c9653df78b21583897195e8812988b9e05e53,4.2484,4.1259,0.0,4.8095,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,5ab9acd6dc30e0e9361ca53e797b40f68841bd698d0926d13510ef0633f0a147,4.6903,3.9570,0.0,0.0000,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2,8e40f988dd93417a0a40c32e65386425d891c879fedf4c1fe437f77191c03d5e,4.1682,4.4640,0.0,0.0000,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0e48974ce6e81d9e81a8da780521a2f98fb2385dc879dfae904c08fc3fce1c1f,3.9651,4.0966,0.0,0.0000,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
4,e033c53b4fb230de5da6868503a9e079b289e064d62de408bf61385bed8e3d90,3.9576,4.1876,0.0,0.0000,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809574,330a8fafa81eb701128f842b4e43c2c836241eb367bbfa635f3b9e5f8a9ea293,3.6468,3.9524,0.0,0.0000,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
809575,87ce8065bb72173df067e7f064e0947729be00cf0d4245774ed486bbac101f2e,4.3813,4.0073,0.0,0.0000,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
809576,2c4a91b254c5ecb73f71a260d4cb04867926fced5fe2c00279dd42ce23ab7291,4.3098,4.6606,0.0,4.0865,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
809577,9aa3854e9b0cdbc9bbb45e279c2e584cfc49a80eb171c98bdc8d6fc8be3e9916,4.4634,4.5136,0.0,4.5773,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
809578,ccb883a647ce35beb68e0dd8518643acca047564ba946441b3aef07fcc435e20,4.3142,4.1835,0.0,4.2870,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0

###  BD: Balances

In [222]:
df_balances = pd.read_csv('./archive/balances.csv', engine='pyarrow')

In [223]:
pd.set_option('max_colwidth', None)

In [224]:
"""
balances	period	Periodo de extracción de los datos (periodo t-0)
            periodo de los datos (del 1 al 9), balanceado 11% en promedio
            El número del periodo no hace referencia al mes!
            Algunos clientes solo tienen un periodo disponible
balances	ID	Identificador único
            Cada cuenta tiene varios estados por periodo, es decir el ID aparece multiples veces
            CADA ID ES UNICO POR PERIODO!!!!!! <----
            Todos los registros se encuentran en la base de customers

            
balances	month	Mes de datos (1: indica que es el primer mes (periodo t-11) , 12: indica el último mes (periodo t-0))
            Últimos 12 meses desde la toma del periodo
balances	type	Tipo de crédito (personal, hipotecario, comercial, etc.)
            tipo de credito
balances	product	Producto (préstamos personal, tarjeta de crédito, crédito vehicular, préstamos comercial, etc)
            54% producto 1, 36% producto 2, 5% producto, 5% producto
balances	entity	Institución financiera, puede ser un banco, una caja u otro
            50% entidad 1
balances	balance_amount	Monto del saldo del crédito
            de 0 a 5, no hay vacíos 2% de la base son 5 (¿qué significa esto?)
balances	days_default	Cantidad de días de atraso en sus pagos (días de mora)

"""

check_column = 'balance_amount'
df_balances[check_column].value_counts(dropna=False).reset_index().\
    merge(df_balances[check_column].value_counts(dropna=False, normalize=True)*100, on=check_column, how='left')

       balance_amount   count  proportion
0              5.0000  298329    2.572293
1              3.3838    2894    0.024953
2              3.5974    2734    0.023573
3              3.3912    2675    0.023065
4              3.5991    2623    0.022616
...               ...     ...         ...
38543          0.9869       1    0.000009
38544          1.1869       1    0.000009
38545          1.3998       1    0.000009
38546          0.1364       1    0.000009
38547          1.2076       1    0.000009

[38548 rows x 3 columns]

In [225]:
# Todos los meses tienen la misma cantidad de datos
df_balances[df_balances['ID']=='00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880'].sort_values(['product','entity','month'])[(df_balances['type']=='type_3') & (df_balances['month']==1)]['balance_amount'].sum()

C:\Users\JuanPablo\AppData\Local\Temp\ipykernel_64044\2191346545.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_balances[df_balances['ID']=='00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880'].sort_values(['product','entity','month'])[(df_balances['type']=='type_3') & (df_balances['month']==1)]['balance_amount'].sum()

24.724100000000004

In [226]:
df_balances[df_balances['ID']=='00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880'].sort_values(['product','entity','month'])

,month,ID,type,product,entity,balance_amount,days_default,period
7000375,1,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_3,product_1,entity_1,3.9544,0.0,period_2
5859486,2,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_3,product_1,entity_1,3.9428,0.0,period_2
1005906,3,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_3,product_1,entity_1,3.9154,0.0,period_2
11533902,4,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_3,product_1,entity_1,3.9209,0.0,period_2
9129265,5,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_3,product_1,entity_1,3.7691,0.0,period_2
...,...,...,...,...,...,...,...,...
4754547,8,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_5,product_6,entity_3,4.8217,0.0,period_2
4480032,9,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_5,product_6,entity_3,4.8211,0.0,period_2
3186101,10,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_5,product_6,entity_3,4.8203,0.0,period_2
4339191,11,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_5,product_6,entity_3,4.8198,0.0,period_2
4689600,12,00acade14309539e363d1abccd90f25a59652d03f1d5cef583fae494043fc880,type_5,product_6,entity_3,4.8192,0.0,period_2

In [9]:
df_balances_test = df_balances.copy()

In [10]:
# Balance y days default por type ...
# Pivot for balance_amount
pivot_balance = df_balances_test.pivot_table(values='balance_amount', index=['ID', 'period'], 
                               columns=['type', 'month'], aggfunc='sum')
pivot_balance.columns = [f'{col[0]}_month_{col[1]}_balance_amount' for col in pivot_balance.columns]

# Pivot for days_default
pivot_days_default = df_balances_test.pivot_table(values='days_default', index=['ID', 'period'], 
                                    columns=['type', 'month'], aggfunc='sum')
pivot_days_default.columns = [f'{col[0]}_month_{col[1]}_days_default' for col in pivot_days_default.columns]

# Concatenate the pivoted results
df_balances_preprocessed = pd.concat([pivot_balance, pivot_days_default], axis=1).reset_index()

In [186]:
df_balances_preprocessed

,ID,period,type_1_month_1_balance_amount,type_1_month_2_balance_amount,type_1_month_3_balance_amount,type_1_month_4_balance_amount,type_1_month_5_balance_amount,type_1_month_6_balance_amount,type_1_month_7_balance_amount,type_1_month_8_balance_amount,type_1_month_9_balance_amount,type_1_month_10_balance_amount,type_1_month_11_balance_amount,type_1_month_12_balance_amount,type_2_month_1_balance_amount,type_2_month_2_balance_amount,type_2_month_3_balance_amount,type_2_month_4_balance_amount,type_2_month_5_balance_amount,type_2_month_6_balance_amount,type_2_month_7_balance_amount,type_2_month_8_balance_amount,type_2_month_9_balance_amount,type_2_month_10_balance_amount,type_2_month_11_balance_amount,type_2_month_12_balance_amount,type_3_month_1_balance_amount,type_3_month_2_balance_amount,type_3_month_3_balance_amount,type_3_month_4_balance_amount,type_3_month_5_balance_amount,type_3_month_6_balance_amount,type_3_month_7_balance_amount,type_3_month_8_balance_amount,type_3_month_9_balance_amount,type_3_month_10_balance_amount,type_3_month_11_balance_amount,type_3_month_12_balance_amount,type_4_month_1_balance_amount,type_4_month_2_balance_amount,type_4_month_3_balance_amount,type_4_month_4_balance_amount,type_4_month_5_balance_amount,type_4_month_6_balance_amount,type_4_month_7_balance_amount,type_4_month_8_balance_amount,type_4_month_9_balance_amount,type_4_month_10_balance_amount,type_4_month_11_balance_amount,type_4_month_12_balance_amount,type_5_month_1_balance_amount,type_5_month_2_balance_amount,type_5_month_3_balance_amount,type_5_month_4_balance_amount,type_5_month_5_balance_amount,type_5_month_6_balance_amount,type_5_month_7_balance_amount,type_5_month_8_balance_amount,type_5_month_9_balance_amount,type_5_month_10_balance_amount,type_5_month_11_balance_amount,type_5_month_12_balance_amount,type_7_month_1_balance_amount,type_7_month_2_balance_amount,type_7_month_3_balance_amount,type_7_month_4_balance_amount,type_7_month_5_balance_amount,type_7_month_6_balance_amount,type_7_month_7_balance_amount,type_7_month_8_balance_amount,type_7_month_9_balance_amount,type_7_month_10_balance_amount,type_7_month_11_balance_amount,type_7_month_12_balance_amount,type_1_month_1_days_default,type_1_month_2_days_default,type_1_month_3_days_default,type_1_month_4_days_default,type_1_month_5_days_default,type_1_month_6_days_default,type_1_month_7_days_default,type_1_month_8_days_default,type_1_month_9_days_default,type_1_month_10_days_default,type_1_month_11_days_default,type_1_month_12_days_default,type_2_month_1_days_default,type_2_month_2_days_default,type_2_month_3_days_default,type_2_month_4_days_default,type_2_month_5_days_default,type_2_month_6_days_default,type_2_month_7_days_default,type_2_month_8_days_default,type_2_month_9_days_default,type_2_month_10_days_default,type_2_month_11_days_default,type_2_month_12_days_default,type_3_month_1_days_default,type_3_month_2_days_default,type_3_month_3_days_default,type_3_month_4_days_default,type_3_month_5_days_default,type_3_month_6_days_default,type_3_month_7_days_default,type_3_month_8_days_default,type_3_month_9_days_default,type_3_month_10_days_default,type_3_month_11_days_default,type_3_month_12_days_default,type_4_month_1_days_default,type_4_month_2_days_default,type_4_month_3_days_default,type_4_month_4_days_default,type_4_month_5_days_default,type_4_month_6_days_default,type_4_month_7_days_default,type_4_month_8_days_default,type_4_month_9_days_default,type_4_month_10_days_default,type_4_month_11_days_default,type_4_month_12_days_default,type_5_month_1_days_default,type_5_month_2_days_default,type_5_month_3_days_default,type_5_month_4_days_default,type_5_month_5_days_default,type_5_month_6_days_default,type_5_month_7_days_default,type_5_month_8_days_default,type_5_month_9_days_default,type_5_month_10_days_default,type_5_month_11_days_default,type_5_month_12_days_default,type_7_month_1_days_default,type_7_month_2_days_default,type_7_month_3_days_default,type_7_month_4_days_default,type_7_month_5_days_default,type_7_month_6_days_default,type_7_month_7_days_default,type_7_month_8_days_default,type_7_month_9_days_default,type_7_month_10_days_default,type_7_month_11_days_default,type_7_month_12_days_default
0,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,period_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2202,3.1754,3.1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00007a4554cd3a350aec583adebe766eb0beef5684f3ddca436ad026aee12c21,period_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.7869,17.7529,17.6747,14.4124,14.3063,14.3705,17.8341,17.7520,17.7514,17.8135,18.1118,18.0742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.713,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000095b7b77ff622b2130f2d4bfa1e8d81f1fc4580a24872e8a58b1fa66ce45a,period_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.3856,2.3856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00009bb00e84af44d1abc86b9fbd155842ffef6cad814d0244655051659fdbff,period_8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.6144,6.5635,6.5839,6.9329,10.0709,10.0300,9.9214,9.8196,9.8177,9.8683,8.9017,7.5918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000a9728fc57abef25c2fc0424c9c907a5559e7b8b559eb5b40753a09ea532d,period_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.8577,7.3819,7.3911,7.3736,7.1844,7.0069,7.0722,7.2094,6.9816,7.0798,7.0740,6.7533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.9909,4.9904,4.9899,4.9866,4.9861,4.9856,4.9848,4.9844,4.9837,4.9832,4.9799,4.9792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505692,ffff4968b6af50790f53a2c1385ba6a11e6b9d4a1e72f31ef2cfd42dc0e65ab8,period_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5280,3.6142,3.2341,3.3718,3.7283,3.7469,3.5791,3.4858,3.4478,3.3591,3.7827,3.7644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505693,ffff8c53a19d67e0651f65209b1072de29ccb82117e08a171caf5863b69afc53,period_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0322,NaN,2.6649,3.2208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505694,ffff94ddba5c7e3396b55a61b5720354aee91c399ef46148b70093b136e11110,period_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2033,7.1915,7.1694,7.2359,7.2086,7.1788,7.2518,7.4901,6.3592,4.3230,7.2577,4.2713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.9768,4.9768,4.9756,4.9751,4.9744,4.9731,4.9731,4.9724,4.9724,4.9718,4.9712,4.9699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.9912,0.9912,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505695,ffff9f3da8cd310697f907aa774b0290feb277472345b2a45b45845d7af5c928,period_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0365,9.6591,7.7699,7.7628,10.0353,10.5203,10.5212,7.7084,6.9348,7.3056,10.1478,10.2451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505696,ffffe42ea75b592934555b2d14d6d16d41e7810ffea88300d0b333bcf96863b2,period_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.9081,9.3359,9.3524,9.3755,9.3608,9.3246,9.1956,9.1691,9.1643,9.4282,9.4330,9.4088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.2928,9.2880,9.2808,9.2787,9.2766,9.2744,9.2722,9.2617,9.2594,9.2594,9.2540,9.2516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.2634,0.0000,0.0000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.set_option("display.max_columns",None)

### BD liabilities

In [16]:
df_liabilities  = pd.read_csv('./archive/liabilities.csv', engine='pyarrow')

In [17]:
"""
liabilities	ID	Identificador único
liabilities	period	Periodo de extracción de los datos

liabilities	month	Mes de datos (1: indica que es el primer mes (periodo t-11) , 12: indica el último mes (periodo t-0))
liabilities	product_1	Saldo mensual promedio de cuentas de ahorros
liabilities	product_2	Saldo mensual promedio de otros tipos de cuentas
# Producto 2 y Producto 1 en 0 puede que representen valores NaN en lugar del valor minimo 0...
"""

check_column = 'product_2'
df_liabilities[check_column].value_counts(dropna=False).reset_index().\
    merge(df_liabilities[check_column].value_counts(dropna=False, normalize=True)*100, on=check_column, how='left')

       product_2    count  proportion
0         0.0000  6762517   76.183983
1         5.0000   181315    2.042627
2         0.0052    30435    0.342869
3         0.0053    17103    0.192676
4         0.0104    12901    0.145338
...          ...      ...         ...
43125     1.0240        1    0.000011
43126     1.5177        1    0.000011
43127     1.7271        1    0.000011
43128     1.3139        1    0.000011
43129     1.4628        1    0.000011

[43130 rows x 3 columns]

In [18]:
# Melt the dataframe so types become a single column
df_melted = df_liabilities.melt(id_vars=['period', 'ID', 'month'], value_vars=['product_1', 'product_2'], 
                    var_name='product', value_name='value')

# Pivot table to generate columns per type and month
df_pivot_liabilities = df_melted.pivot_table(index=['period', 'ID'], columns=['product', 'month'], values='value', aggfunc='sum').reset_index()

# Flatten the MultiIndex columns
df_pivot_liabilities.columns = ['_month'.join(map(str, col)) if isinstance(col, tuple) & (col not in ['ID', 'period']) else col for col in df_pivot_liabilities.columns]

In [19]:
df_pivot_liabilities = df_pivot_liabilities.rename(columns={'period_month':'period', 'ID_month': 'ID'})

In [157]:
df_liabilities[df_liabilities['ID']=='fffcdd1bb66625369c66e7d7574667c56031af8ca980861065e04e727dbc3b37']

,month,ID,product_1,product_2,period
2144126,2,fffcdd1bb66625369c66e7d7574667c56031af8ca980861065e04e727dbc3b37,0.9875,0.0,period_9
3538448,1,fffcdd1bb66625369c66e7d7574667c56031af8ca980861065e04e727dbc3b37,0.9460,0.0,period_9

### BD: Movements

In [20]:
df_movements  = pd.read_csv('./archive/movements.csv', engine='pyarrow')

In [21]:
"""
movements	period	Periodo de extracción de los datos
movements	ID	Identificador único

movements	month	Mes de datos (1: indica que es el primer mes (periodo t-11) , 12: indica el último mes (periodo t-0))
movements	type_1	Monto de compras en supermercados
                    De 0 a 5...41% es 0, 2.65% es 5, el resto es reparte entre 0.01%
movements	type_2	Monto de compras en restaurantes
                    De 0 a 5...28% es 0, 2.65% es 5, el resto se reparte entre 0.04%
movements	type_3	Monto de compras en salud
                    De 0 a 5...55% es 0, 2.65% es 5, el resto se reparte entre 0.05%
movements	type_4	Monto de compras en transporte
                    De 0 a 5...57% es 0, 2.65% es 5, el resto se reparte entre 0.16%

"""

check_column = 'type_1'
df_movements[check_column].value_counts(dropna=False).reset_index().\
    merge(df_movements[check_column].value_counts(dropna=False, normalize=True)*100, on=check_column, how='left')

       type_1    count  proportion
0      0.0000  1540736   41.666987
1      5.0000    98097    2.652892
2      3.1964      543    0.014685
3      3.2037      522    0.014117
4      3.2110      515    0.013927
...       ...      ...         ...
37414  0.8470        1    0.000027
37415  1.1296        1    0.000027
37416  0.9761        1    0.000027
37417  1.6928        1    0.000027
37418  1.9522        1    0.000027

[37419 rows x 3 columns]

In [ ]:
## Realizar la evaluación de correlación sin el grupo 0 (el 90% del entrenamiento)
# La variable de payroll no es muy efectiva

In [22]:
# Melt the dataframe so types become a single column
df_melted = df_movements.melt(id_vars=['period', 'ID', 'month'], value_vars=['type_1', 'type_2', 'type_3', 'type_4'], 
                    var_name='type', value_name='value')

# Pivot table to generate columns per type and month
df_pivot_movements = df_melted.pivot_table(index=['period', 'ID'], columns=['type', 'month'], values='value', aggfunc='sum').reset_index()

# Flatten the MultiIndex columns
df_pivot_movements.columns = ['_month'.join(map(str, col)) if isinstance(col, tuple) & (col not in ['ID', 'period']) else col for col in df_pivot_movements.columns]

In [23]:
df_pivot_movements = df_pivot_movements.rename(columns={'period_month':'period', 'ID_month': 'ID'})

In [24]:
pd.set_option("display.max_columns",None)
# Probar con número de lags (últimos 12 meses o últimos 6 meses)
# Probrar con nivel de agrupación de los datos meses/bimestre/trimestral/semestral
# En este caso sí se puede usar fillna(0), debido a que son valores de consumo, se asumo que si no aparece es porque tiene consumo 0
# TAL VEZ TRABAJAR A NIVEL DE TRIMESTRES/SEMESTRES ...
df_pivot_movements.fillna(0, inplace=True)

In [25]:
df_pivot_movements

,period,ID,type_1_month1,type_1_month2,type_1_month3,type_1_month4,type_1_month5,type_1_month6,type_1_month7,type_1_month8,type_1_month9,type_1_month10,type_1_month11,type_1_month12,type_2_month1,type_2_month2,type_2_month3,type_2_month4,type_2_month5,type_2_month6,type_2_month7,type_2_month8,type_2_month9,type_2_month10,type_2_month11,type_2_month12,type_3_month1,type_3_month2,type_3_month3,type_3_month4,type_3_month5,type_3_month6,type_3_month7,type_3_month8,type_3_month9,type_3_month10,type_3_month11,type_3_month12,type_4_month1,type_4_month2,type_4_month3,type_4_month4,type_4_month5,type_4_month6,type_4_month7,type_4_month8,type_4_month9,type_4_month10,type_4_month11,type_4_month12
0,period_1,000043cc1abd7597c99f494cc523ff99a4e0e64e98b1280375c1de14007332c0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0298,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.4227,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,period_1,000468507e5d75377988448162d397754377c81508cbaa2d67cbc6ed74ea77ed,0.0000,4.6056,5.0000,4.3574,3.7638,0.0000,0.0000,0.0000,3.0470,4.0084,0.0000,3.7878,0.0000,0.0000,2.3226,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4.6464,0.0000,0.0000,3.3906,4.6412,0.0000,4.1207,2.1779,3.1755,0.0000,2.6340,0.0,2.8157,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.5769,4.0496,0.0000,0.0000
2,period_1,0004e6c8907e1d99425a0b093c14d8699ae3ac3e1d665d626a9ddfe7c62a2a39,3.9871,2.5268,4.1579,3.8209,4.0294,3.8271,3.7687,4.3212,4.5346,3.6686,3.6992,3.7500,3.5605,2.3509,3.2307,4.4475,3.8617,4.2858,4.5136,4.2464,4.0811,4.1103,4.3219,3.7333,2.5400,0.0000,0.0000,2.0735,0.0000,0.0000,3.2904,0.0000,2.9082,2.5376,0.0,0.0000,4.6138,3.4914,4.3034,4.1665,3.9596,3.6684,4.2102,4.0957,4.3524,4.2469,4.3656,4.3902
3,period_1,0005f1271a9aba6a9e71b0d5cc10170ab4b258516e88a1c7f5fef227b3ef7bab,0.0000,0.0000,3.2200,3.2431,0.0000,3.8744,3.2674,2.9494,3.0521,0.0000,3.8233,2.4570,0.0000,0.0000,0.0000,0.0000,3.8066,2.0006,2.7467,3.3883,3.5708,0.0000,0.0000,2.8356,0.0000,3.8603,3.2912,3.1243,3.4934,3.0395,3.2658,0.0000,0.0000,0.0000,0.0,2.0461,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,period_1,0006052235020c22332c42b56d628083a981302ef4d48bf48eca3dc7b19fb0fc,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.4383,0.0000,0.0000,0.0000,0.0000,2.7159,0.0000,0.0000,0.0000,2.7626,0.0000,0.0000,3.4810,2.0698,2.2336,2.8342,3.2690,3.4349,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528723,period_9,fffcc9b35c1cd8100537344281b4d7b03387bbabad5d767d2fd1d4d454ea8924,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0372,0.0000,0.0000
528724,period_9,fffcdd1bb66625369c66e7d7574667c56031af8ca980861065e04e727dbc3b37,0.0000,0.0000,2.3666,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,3.3944,0.0000,3.3788,2.9177,0.0000,0.0000,1.9337,0.0000,0.0000,0.0000,0.0000,0.0000,2.8057,0.0000,3.3479,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,3.2028,0.0000,0.0000,3.8815,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
528725,period_9,fffda3352a75693469ca4507e2e264c5460117dfd38f170602ac31e08b8a5b1c,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,5.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
528726,period_9,fffec9152c15c80ea1409af5aa9ff4ca076ab9d86b7ec061a7afaac3bbd2a544,4.1106,4.2983,4.3765,4.1488,4.4115,0.0000,2.8519,0.0000,3.7845,3.0289,4.4264,4.5407,4.0648,4.3025,3.9589,4.3406,4.2207,4.8151,4.2749,3.0849,3.7689,3.4304,3.4568,4.7162,3.2592,4.4062,4.0574,3.6277,4.5156,4.1863,3.2691,4.4234,3.3219,3.6574,0.0,3.7005,3.9966,3.6938,3.3068,3.4983,3.6134,4.3092,3.9089,0.0000,2.5051,2.3900,2.3171,2.0767
528727,period_9,ffffa8c83acef69b486ab4ec22feaf2a9fa64212c4282b38e04913c20a1c776b,0.0000,0.0000,0.0000,3.2541,4.1007,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,4.2174,3.2156,3.9373,0.0000,3.6698,3.5669,3.2920,0.0000,3.5408,3.9046,0.0000,0.0000,4.3868,4.2096,0.0000,3.1240,0.0000,1.8315,0.0000,0.0000,0.0000,2.8530,0.0,0.0000,4.5604,4.5386,4.8151,3.7540,4.3548,4.1762,4.0840,3.5927,4.3160,3.3592,4.2809,0.0000

### BASE: Digital

In [26]:
df_digital = pd.read_csv('./archive/digital.csv', engine='pyarrow')

In [27]:
df_digital.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6379650 entries, 0 to 6379649
Data columns (total 14 columns):
 #   Column  Dtype
---  ------  -----
 0   month   int64
 1   ID      object
 2   dig_1   float64
 3   dig_2   float64
 4   dig_3   float64
 5   dig_4   float64
 6   dig_5   float64
 7   dig_6   float64
 8   dig_7   float64
 9   dig_8   float64
 10  dig_9   float64
 11  dig_10  float64
 12  dig_11  float64
 13  period  object
dtypes: float64(11), int64(1), object(2)
memory usage: 681.4+ MB

In [28]:
"""
digital	month	Mes de datos (1: indica que es el primer mes (periodo t-11) , 12: indica el último mes (periodo t-0))
digital	ID	Identificador único
digital	dig_1	Mediana del tiempo de duración de las sesiones en aplicaciones digitales del mes en minutos
digital	dig_2	Número de acciones ejecutadas en promedio en una sesión del mes
digital	dig_3	Número de secciones diferentes visitadas en promedio en una sesión del mes
digital	dig_4	Máximo número de días entre visitas a los plataformas digitales en un mes
digital	dig_5	Días promedio entre visitas a las plataformas digitales en un mes
digital	dig_6	Antigüedad en plataforma digitales en un mes
digital	dig_7	Cantidad de visitas a la sección cuentas en un mes
digital	dig_8	Cantidad de inicios de sesión en las plataformas digitales en un mes
digital	dig_9	Cantidad de visitas a la sección posición global en un mes
digital	dig_10	Cantidad de visitas a la sección de tarjetas en un mes
digital	dig_11	Cantidad de visitas en un mes
"""
df_digital

,month,ID,dig_1,dig_2,dig_3,dig_4,dig_5,dig_6,dig_7,dig_8,dig_9,dig_10,dig_11,period
0,9,bdc817ca1b6ba0deb42d70bee75e4a4e1a1df5d3c9578c20693e0e27742a991c,0.7329,2.2512,2.9029,3.8084,3.0466,3.2779,0.0000,1.0905,2.2750,0.0000,1.7480,period_9
1,3,7474e915adcf95e11cd85fe1dcb660fee704697ae31f87ed0c09f8c9f0845b66,4.2287,4.6974,2.9029,2.7366,2.2263,4.1667,1.9824,1.0905,1.6208,0.0000,0.9672,period_9
2,11,506ff183d63da44a9106db1202b2b9cc53ca680ddca44d5852caeff7b92d2175,1.7268,3.8201,2.7194,2.5198,1.4561,4.2153,4.2105,2.1810,3.6138,0.0000,3.3457,period_9
3,4,f59effceec688938accd3f6b5d0684edb2ad484e7bef4008564bde2ef152baf8,0.0326,1.6499,1.6981,3.7114,2.9214,3.0473,0.0000,1.0905,2.2750,1.1569,1.7480,period_9
4,3,a0d7da88c4d28b52afba4f4bfa066356042bb0bfe8be8b85c1cdf8a0c5b7509a,2.1337,4.0528,3.3814,2.9244,1.3486,4.3069,3.6679,1.7284,3.5024,0.0000,3.2128,period_9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6379645,5,ed023a3b9440522cc2cef97072938116e044264748aaf55a13896033bd6993db,0.4537,2.1788,1.4116,2.2634,1.1212,3.9646,2.3898,1.5850,3.1871,0.0000,2.8337,period_2
6379646,11,0feaa2b25196ade2d24b10dc0cfa70e2f6ec886c68b87b8b665b4464a82147d3,1.3686,3.7201,2.6933,2.7366,1.7082,3.9001,3.4190,1.5850,3.3344,2.2106,3.0097,period_2
6379647,9,c1e797430786e2642733d3a28c6b9adcd18e0d76c9e609cece188b1ef7af64c2,0.8864,2.2069,1.7331,3.8992,3.2807,3.3229,0.0000,0.0000,2.1087,0.0000,1.5451,period_2
6379648,3,c1e797430786e2642733d3a28c6b9adcd18e0d76c9e609cece188b1ef7af64c2,0.1580,1.1145,1.3065,0.0000,0.0000,2.7697,0.0000,1.5850,2.5859,0.0000,2.1153,period_2
6379649,12,082363fb4ba57e5156866ddf046ba9b552546c732c5445297cc876021a0a6017,1.0477,1.7697,0.4965,3.0900,3.0027,4.0290,0.0000,0.0000,2.1087,0.0000,1.5451,period_2

In [29]:
def varDigital(df_digital, historia, dict_cal):
    """
    df_digital: base digital
    historia: cantidad de meses para la historia (máximo 12)
    dict_cal: diccionario con los cálculos a realizar a las variables numéricas
    """
    dfVarDigital = df_digital[df_digital['month'] >= 12 - historia + 1].groupby(['ID', 'period'])\
                        .agg(
                            dict_cal
                        )

    dfVarDigital.columns = [ 'dig_'+ x[1]+'_' + x[0] + '_' + str(historia) for x in dfVarDigital.columns]

    dfVarDigital.reset_index(inplace = True)
    
    return dfVarDigital

In [124]:
df_digital[df_digital['ID'].str.contains('00000f6dd2df6f081ce59cc4490f152e3fd5695de62b')].sort_values('month')

,month,ID,dig_1,dig_2,dig_3,dig_4,dig_5,dig_6,dig_7,dig_8,dig_9,dig_10,dig_11,period
446910,1,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,0.5301,2.5719,2.7118,4.8740,4.9628,4.0742,1.0092,0.0000,1.2929,0.0000,0.5703,period_6
3071126,2,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,0.0000,1.0457,2.0514,4.0648,3.7246,4.1363,0.0000,0.0000,1.6315,0.0000,0.9748,period_6
500102,3,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,1.5700,3.3019,3.3263,1.9496,0.6968,4.1593,2.6089,2.4699,3.1059,0.0000,2.7366,period_6
4600915,4,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,1.3671,3.6563,3.6465,1.5450,1.0013,2.2900,1.5996,2.4699,2.4473,0.0000,1.9496,period_6
4579366,5,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,3.0905,2.9357,2.7118,4.6862,4.3805,3.0523,1.0092,0.0000,1.2929,0.0000,0.5703,period_6
2276799,9,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,0.4532,3.9451,3.6362,2.5198,1.1212,3.7477,1.5996,2.7497,3.0187,0.0000,2.6324,period_6
370595,10,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,1.8204,4.2168,3.5088,2.7366,1.0714,3.8594,3.9430,3.5336,4.1501,1.9388,3.9845,period_6
2906190,11,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,2.1448,4.0066,3.7812,2.9244,1.6450,3.9505,3.4914,3.5336,3.4016,0.0000,3.0901,period_6
4078630,12,00000f6dd2df6f081ce59cc4490f152e3fd5695de62bd92ba7d880f22dfc0c4a,0.4269,3.6792,3.3324,2.9244,1.1546,4.0163,3.1992,3.3719,3.7883,0.0000,3.5520,period_6

In [127]:
df_pivot_movements

,period_,ID_,type_1_1,type_1_2,type_1_3,type_1_4,type_1_5,type_1_6,type_1_7,type_1_8,...,type_4_3,type_4_4,type_4_5,type_4_6,type_4_7,type_4_8,type_4_9,type_4_10,type_4_11,type_4_12
0,period_1,000043cc1abd7597c99f494cc523ff99a4e0e64e98b1280375c1de14007332c0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0298,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,period_1,000468507e5d75377988448162d397754377c81508cbaa2d67cbc6ed74ea77ed,0.0000,4.6056,5.0000,4.3574,3.7638,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.5769,4.0496,0.0000,0.0000
2,period_1,0004e6c8907e1d99425a0b093c14d8699ae3ac3e1d665d626a9ddfe7c62a2a39,3.9871,2.5268,4.1579,3.8209,4.0294,3.8271,3.7687,4.3212,...,4.3034,4.1665,3.9596,3.6684,4.2102,4.0957,4.3524,4.2469,4.3656,4.3902
3,period_1,0005f1271a9aba6a9e71b0d5cc10170ab4b258516e88a1c7f5fef227b3ef7bab,0.0000,0.0000,3.2200,3.2431,0.0000,3.8744,3.2674,2.9494,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,period_1,0006052235020c22332c42b56d628083a981302ef4d48bf48eca3dc7b19fb0fc,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.4383,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528723,period_9,fffcc9b35c1cd8100537344281b4d7b03387bbabad5d767d2fd1d4d454ea8924,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0372,0.0000,0.0000
528724,period_9,fffcdd1bb66625369c66e7d7574667c56031af8ca980861065e04e727dbc3b37,0.0000,0.0000,2.3666,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,3.8815,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
528725,period_9,fffda3352a75693469ca4507e2e264c5460117dfd38f170602ac31e08b8a5b1c,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
528726,period_9,fffec9152c15c80ea1409af5aa9ff4ca076ab9d86b7ec061a7afaac3bbd2a544,4.1106,4.2983,4.3765,4.1488,4.4115,0.0000,2.8519,0.0000,...,3.3068,3.4983,3.6134,4.3092,3.9089,0.0000,2.5051,2.3900,2.3171,2.0767
528727,period_9,ffffa8c83acef69b486ab4ec22feaf2a9fa64212c4282b38e04913c20a1c776b,0.0000,0.0000,0.0000,3.2541,4.1007,0.0000,0.0000,0.0000,...,4.8151,3.7540,4.3548,4.1762,4.0840,3.5927,4.3160,3.3592,4.2809,0.0000

### Concatenación de bases

In [31]:
dic_digital = {
                'dig_1': ['min', 'mean', 'max', 'sum'],
                'dig_2': ['min', 'mean', 'max', 'sum'],
                'dig_3': ['min', 'mean', 'max', 'sum'],
                'dig_4': ['min', 'mean', 'max', 'sum'],
                'dig_5': ['min', 'mean', 'max', 'sum'],
                'dig_6': ['min', 'mean', 'max', 'sum'],
                'dig_7': ['min', 'mean', 'max', 'sum'],
                'dig_8': ['min', 'mean', 'max', 'sum'],
                'dig_9': ['min', 'mean', 'max', 'sum'],
                'dig_10': ['min', 'mean', 'max', 'sum'],
                'dig_11': ['min', 'mean', 'max', 'sum'],
                'month': ['count']
}

def getMatriz(universo = 'train'):
    
    if universo == 'train':
        df_universo = pd.read_csv('./archive/universe_train.csv')
    else:
        df_universo = pd.read_csv('./archive/universe_test.csv')
    
    # Customer
    consolidado = pd.merge(df_universo, df_customer_preprocessed, how='left', on = ['ID'])
    
    # RCC
    consolidado = pd.merge(consolidado, df_balances_preprocessed, how='left', on = ['ID', 'period'])
    
    # Liabilities
    consolidado = pd.merge(consolidado, df_pivot_liabilities, how='left', on = ['ID', 'period'])
    
    # Movements
    consolidado = pd.merge(consolidado, df_pivot_movements, how='left', on = ['ID', 'period'])
    
    # Digital
    consolidado = pd.merge(consolidado, varDigital(df_digital, 12, dic_digital), how='left', on = ['ID', 'period'])
    
    return consolidado

### Modelo lightgbm

In [77]:
matrix_train = getMatriz(universo = 'train')
matrix_submit = getMatriz(universo = 'test')

In [64]:
matrix_train = matrix_train[~matrix_train['attrition'].isin([0,1])]

In [86]:
matrix_train['attrition'].value_counts()

attrition
0    464075
1     47171
5      8489
4      6893
2      5929
3      3386
Name: count, dtype: int64

In [74]:
# Puede que tenga que ver el periodo?...
matrix_train.drop(columns=['ID','period']).corr(method='pearson')['attrition'].sort_values(ascending=False).to_excel('eval_attrition.xlsx')

In [113]:
matrix_train = matrix_train.fillna(0)

In [114]:
from sklearn.model_selection import train_test_split

columnas_eliminar = ['ID', 'attrition', 'period']

X = matrix_train.drop(columnas_eliminar, axis=1).copy()
y = matrix_train['attrition'].copy()

In [115]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

# Define the resampling strategy
over = SMOTE(sampling_strategy={2: 20000, 3: 20000, 4: 20000, 5: 20000}, random_state=42)
under = RandomUnderSampler(sampling_strategy={0: 50000}, random_state=42)

# Create a pipeline
pipeline = Pipeline([('o', over), ('u', under)])
X, y = pipeline.fit_resample(X, y)

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=11, stratify=y)

In [117]:
import lightgbm as lgb
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
plt.figure(figsize=(40,20))

train_data_lgb = lgb.Dataset(X_train, label=y_train)
test_data_lgb = lgb.Dataset(X_test, label=y_test)

In [118]:
params_k = {
            'boosting_type': 'gbdt',
            'objective': 'multiclass',
            'num_class': 6,
            'subsample': 0.95,
            'learning_rate': 0.01,
            'max_depth': 5,
            'num_leaves': 100,
            'feature_fraction': 0.9,
            #'max_bin': 100,
            'is_unbalance': True,
            #'boost_from_average': False,
            "random_seed":42,
            'verbose': -1
}

In [119]:
model = lgb.train(params_k,
                       train_data_lgb,
                       valid_sets=[test_data_lgb, train_data_lgb],
                       num_boost_round=10000,
                       callbacks=[
                           lgb.early_stopping(stopping_rounds=100),
                           lgb.log_evaluation(100)
                       ]
                 )

Training until validation scores don't improve for 100 rounds
[100]	training's multi_logloss: 1.11055	valid_0's multi_logloss: 1.12423
[200]	training's multi_logloss: 0.96215	valid_0's multi_logloss: 0.982817
[300]	training's multi_logloss: 0.892749	valid_0's multi_logloss: 0.919831
[400]	training's multi_logloss: 0.844869	valid_0's multi_logloss: 0.878553
[500]	training's multi_logloss: 0.811612	valid_0's multi_logloss: 0.851304
[600]	training's multi_logloss: 0.786114	valid_0's multi_logloss: 0.83148
[700]	training's multi_logloss: 0.765897	valid_0's multi_logloss: 0.816404
[800]	training's multi_logloss: 0.748256	valid_0's multi_logloss: 0.803938
[900]	training's multi_logloss: 0.732421	valid_0's multi_logloss: 0.793185
[1000]	training's multi_logloss: 0.717407	valid_0's multi_logloss: 0.783311
[1100]	training's multi_logloss: 0.703781	valid_0's multi_logloss: 0.774615
[1200]	training's multi_logloss: 0.691798	valid_0's multi_logloss: 0.767601
[1300]	training's multi_logloss: 0.680348	valid_0's multi_logloss: 0.761097
[1400]	training's multi_logloss: 0.66968	valid_0's multi_logloss: 0.755142
[1500]	training's multi_logloss: 0.65972	valid_0's multi_logloss: 0.749771
[1600]	training's multi_logloss: 0.650436	valid_0's multi_logloss: 0.745049
[1700]	training's multi_logloss: 0.641211	valid_0's multi_logloss: 0.740451
[1800]	training's multi_logloss: 0.633061	valid_0's multi_logloss: 0.736626
[1900]	training's multi_logloss: 0.624807	valid_0's multi_logloss: 0.732796
[2000]	training's multi_logloss: 0.617264	valid_0's multi_logloss: 0.729465
[2100]	training's multi_logloss: 0.609886	valid_0's multi_logloss: 0.726279
[2200]	training's multi_logloss: 0.602704	valid_0's multi_logloss: 0.723266
[2300]	training's multi_logloss: 0.595475	valid_0's multi_logloss: 0.720137
[2400]	training's multi_logloss: 0.588539	valid_0's multi_logloss: 0.717296
[2500]	training's multi_logloss: 0.581812	valid_0's multi_logloss: 0.714681
[2600]	training's multi_logloss: 0.575295	valid_0's multi_logloss: 0.712156
[2700]	training's multi_logloss: 0.568855	valid_0's multi_logloss: 0.709679
[2800]	training's multi_logloss: 0.562788	valid_0's multi_logloss: 0.70748
[2900]	training's multi_logloss: 0.556705	valid_0's multi_logloss: 0.705258
[3000]	training's multi_logloss: 0.55054	valid_0's multi_logloss: 0.702917
[3100]	training's multi_logloss: 0.544818	valid_0's multi_logloss: 0.700843
[3200]	training's multi_logloss: 0.539155	valid_0's multi_logloss: 0.698852
[3300]	training's multi_logloss: 0.533882	valid_0's multi_logloss: 0.696935
[3400]	training's multi_logloss: 0.528398	valid_0's multi_logloss: 0.695042
[3500]	training's multi_logloss: 0.523203	valid_0's multi_logloss: 0.693308
[3600]	training's multi_logloss: 0.51808	valid_0's multi_logloss: 0.691609
[3700]	training's multi_logloss: 0.512786	valid_0's multi_logloss: 0.689881
[3800]	training's multi_logloss: 0.507868	valid_0's multi_logloss: 0.688346
[3900]	training's multi_logloss: 0.502871	valid_0's multi_logloss: 0.686801
[4000]	training's multi_logloss: 0.497852	valid_0's multi_logloss: 0.685153
[4100]	training's multi_logloss: 0.492963	valid_0's multi_logloss: 0.683725
[4200]	training's multi_logloss: 0.488468	valid_0's multi_logloss: 0.682327
[4300]	training's multi_logloss: 0.483525	valid_0's multi_logloss: 0.680792
[4400]	training's multi_logloss: 0.478792	valid_0's multi_logloss: 0.679329
[4500]	training's multi_logloss: 0.473939	valid_0's multi_logloss: 0.677854
[4600]	training's multi_logloss: 0.469503	valid_0's multi_logloss: 0.676582
[4700]	training's multi_logloss: 0.464987	valid_0's multi_logloss: 0.67518
[4800]	training's multi_logloss: 0.460482	valid_0's multi_logloss: 0.673856
[4900]	training's multi_logloss: 0.456181	valid_0's multi_logloss: 0.672649
[5000]	training's multi_logloss: 0.451913	valid_0's multi_logloss: 0.671436
[5100]	training's multi_logloss: 0.447714	valid_0's multi_logloss: 0.670251
[5200]	training's multi_logloss: 0.443535	valid_0's multi_logloss: 0.669071
[5300]	training's multi_logloss: 0.439413	valid_0's multi_logloss: 0.667965
[5400]	training's multi_logloss: 0.435484	valid_0's multi_logloss: 0.666939
[5500]	training's multi_logloss: 0.431261	valid_0's multi_logloss: 0.665742
[5600]	training's multi_logloss: 0.42725	valid_0's multi_logloss: 0.664598
[5700]	training's multi_logloss: 0.423345	valid_0's multi_logloss: 0.663589
[5800]	training's multi_logloss: 0.419544	valid_0's multi_logloss: 0.662582
[5900]	training's multi_logloss: 0.415697	valid_0's multi_logloss: 0.661544
[6000]	training's multi_logloss: 0.411951	valid_0's multi_logloss: 0.660564
[6100]	training's multi_logloss: 0.40819	valid_0's multi_logloss: 0.659629
[6200]	training's multi_logloss: 0.404443	valid_0's multi_logloss: 0.658642
[6300]	training's multi_logloss: 0.400796	valid_0's multi_logloss: 0.657746
[6400]	training's multi_logloss: 0.39708	valid_0's multi_logloss: 0.656784
[6500]	training's multi_logloss: 0.393488	valid_0's multi_logloss: 0.655867
[6600]	training's multi_logloss: 0.389854	valid_0's multi_logloss: 0.654981
[6700]	training's multi_logloss: 0.3864	valid_0's multi_logloss: 0.654103
[6800]	training's multi_logloss: 0.382994	valid_0's multi_logloss: 0.653279
[6900]	training's multi_logloss: 0.37956	valid_0's multi_logloss: 0.652487
[7000]	training's multi_logloss: 0.376435	valid_0's multi_logloss: 0.65191
[7100]	training's multi_logloss: 0.37311	valid_0's multi_logloss: 0.651171
[7200]	training's multi_logloss: 0.36986	valid_0's multi_logloss: 0.650407
[7300]	training's multi_logloss: 0.366562	valid_0's multi_logloss: 0.649739
[7400]	training's multi_logloss: 0.363294	valid_0's multi_logloss: 0.648984
[7500]	training's multi_logloss: 0.359962	valid_0's multi_logloss: 0.648182
[7600]	training's multi_logloss: 0.356775	valid_0's multi_logloss: 0.647497
[7700]	training's multi_logloss: 0.353664	valid_0's multi_logloss: 0.646788
[7800]	training's multi_logloss: 0.350579	valid_0's multi_logloss: 0.646098
[7900]	training's multi_logloss: 0.347673	valid_0's multi_logloss: 0.645524
[8000]	training's multi_logloss: 0.344624	valid_0's multi_logloss: 0.64494
[8100]	training's multi_logloss: 0.341672	valid_0's multi_logloss: 0.644321
[8200]	training's multi_logloss: 0.33872	valid_0's multi_logloss: 0.643706
[8300]	training's multi_logloss: 0.336033	valid_0's multi_logloss: 0.643203
[8400]	training's multi_logloss: 0.33309	valid_0's multi_logloss: 0.642526
[8500]	training's multi_logloss: 0.330249	valid_0's multi_logloss: 0.641952
[8600]	training's multi_logloss: 0.327507	valid_0's multi_logloss: 0.641363
[8700]	training's multi_logloss: 0.324903	valid_0's multi_logloss: 0.640864
[8800]	training's multi_logloss: 0.322177	valid_0's multi_logloss: 0.640335
[8900]	training's multi_logloss: 0.319479	valid_0's multi_logloss: 0.639792
[9000]	training's multi_logloss: 0.316779	valid_0's multi_logloss: 0.639285
[9100]	training's multi_logloss: 0.314251	valid_0's multi_logloss: 0.638807
[9200]	training's multi_logloss: 0.311653	valid_0's multi_logloss: 0.638352
[9300]	training's multi_logloss: 0.309117	valid_0's multi_logloss: 0.637934
[9400]	training's multi_logloss: 0.306652	valid_0's multi_logloss: 0.637579
[9500]	training's multi_logloss: 0.304108	valid_0's multi_logloss: 0.637161
[9600]	training's multi_logloss: 0.301525	valid_0's multi_logloss: 0.636692
[9700]	training's multi_logloss: 0.29908	valid_0's multi_logloss: 0.636339
[9800]	training's multi_logloss: 0.296712	valid_0's multi_logloss: 0.63595
[9900]	training's multi_logloss: 0.294294	valid_0's multi_logloss: 0.63552
[10000]	training's multi_logloss: 0.291882	valid_0's multi_logloss: 0.635099
Did not meet early stopping. Best iteration is:
[10000]	training's multi_logloss: 0.291882	valid_0's multi_logloss: 0.635099

In [120]:
prediccion_lgb_test = model.predict(X_test, num_iteration=model.best_iteration)
prediccion_lgb_train = model.predict(X_train, num_iteration=model.best_iteration)

In [121]:
import numpy as np

print('train', f1_score(y_train, np.argmax(prediccion_lgb_train, axis=1), average='macro'))
print('test ', f1_score(y_test, np.argmax(prediccion_lgb_test, axis=1), average='macro'))

train 0.9350292337158864
test  0.7645174052032128

In [122]:
from sklearn.metrics import classification_report, accuracy_score

y_train_pred = np.argmax(prediccion_lgb_train, axis=1)
y_test_pred = np.argmax(prediccion_lgb_test, axis=1)

# For the training set
print("Training Metrics:\n")
print(classification_report(y_train, y_train_pred))

print("Training Accuracy: ", accuracy_score(y_train, y_train_pred))

# For the test set
print("\nTest Metrics:\n")
print(classification_report(y_test, y_test_pred))

print("Test Accuracy: ", accuracy_score(y_test, y_test_pred))

Training Metrics:

              precision    recall  f1-score   support

           0       0.91      0.86      0.88     35000
           1       0.86      0.92      0.89     33019
           2       0.96      0.99      0.97     14000
           3       0.99      0.99      0.99     14000
           4       0.94      0.89      0.91     14000
           5       0.99      0.95      0.97     14000

    accuracy                           0.92    124019
   macro avg       0.94      0.93      0.94    124019
weighted avg       0.92      0.92      0.92    124019

Training Accuracy:  0.9193671937364436

Test Metrics:

              precision    recall  f1-score   support

           0       0.68      0.67      0.67     15000
           1       0.70      0.79      0.74     14152
           2       0.79      0.83      0.81      6000
           3       0.89      0.86      0.87      6000
           4       0.82      0.69      0.75      6000
           5       0.80      0.69      0.74      6000

    accuracy                           0.75     53152
   macro avg       0.78      0.75      0.76     53152
weighted avg       0.75      0.75      0.75     53152

Test Accuracy:  0.7458985550872969

In [123]:
prediccion_lgb_submit = model.predict(matrix_submit[X_train.columns], num_iteration=model.best_iteration)

In [124]:
submit = matrix_submit[['period', 'ID']].copy()
submit['target'] = np.argmax(prediccion_lgb_submit, axis=1)

In [125]:
submit.head()

,period,ID,target
0,period_9,20b427c65c62ee0177adfa300bbf9f93ba2e46c86d5bc79b8fca99cf36281390,0
1,period_9,4881d4a2146002a02279bedb6f0a844af022b4dd1d8b1ba42ed0318d36720104,0
2,period_9,28ff12351f215091b54166a09ca44858f3d7f6245f281cb16bea37bc95b2a5ef,0
3,period_9,5cd2c0dc92c1c5ffa83a94f15756cef5c58174e9d8c69abf375975ba0f8b4e74,0
4,period_9,ceebdd2bbaafd83d8c205e8071b79da5338e9db94c950954d5f8fc124eed748a,0

In [126]:
submit.to_csv('submit_benchmark_over_under.csv', index=False)

In [62]:
matrix_train.attrition.value_counts()

attrition
1    47171
5     8489
4     6893
2     5929
3     3386
Name: count, dtype: int64